.idea
out
Selenium/allure-results
/*.bat
/logs/
/target/
.classpath
.project
.metadata/
.settings/
.idea/
*.iml
/*.lnk
/bin/
/target/
.classpath
.project
.metadata/
.settings/
.idea/
*.iml
logHomework/target/